<h1><%=h programme.title %></h1>
<% if programme.subtitle.present? %>
	<p>(<%=h programme.subtitle %>)</p>
<% end %>
<p><%=h programme.start_time.to_s(:programme_time) %> on <%=h programme.channel.name %></p>
<p><%=h programme.description %></p>

<% if is_scheduled %>
<p>This programme is being recorded</p>
<% else %>
<form action="/programmes/<%= programme.id %>/record_on_any_channel" method="post">
	<input type="submit" value="Record on any channel">
</form>

<form action="/programmes/<%= programme.id %>/record_on_this_channel" method="post">
	<input type="submit" value="Record on this channel">
</form>
<% end %>