<h1><%= programme.title %></h1>
<%= programme.start_time %> on <%= programme.channel.name %>

<form action="/programmes/<%= programme.id %>/record_on_any_channel" method="post">
	<input type="submit" value="Record on any channel">
</form>

<form action="/programmes/<%= programme.id %>/record_on_this_channel" method="post">
	<input type="submit" value="Record on this channel">
</form>